
.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap; /*quando o elemento passar de 1200px de largura, ele vai quebrar a linha*/
}

.min-height {
    min-height: 75vh;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}